### Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Read dataset

In [2]:
dataset = pd.read_csv('dataset/framingham.csv')

In [3]:
dataset.sample(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3978,1,61,3.0,1,15.0,0.0,0,0,0,180.0,110.0,80.0,20.72,77.0,86.0,0
3536,1,62,1.0,1,20.0,0.0,0,0,0,185.0,124.0,84.0,24.53,66.0,70.0,0
3050,0,63,3.0,0,0.0,0.0,0,1,0,241.0,153.0,89.0,32.57,65.0,75.0,1
2662,0,51,1.0,0,0.0,0.0,0,1,0,285.0,151.5,79.0,26.91,84.0,76.0,0
3124,0,51,3.0,0,0.0,0.0,0,1,0,198.0,142.5,80.0,23.86,76.0,100.0,0

In [5]:
dataset.shape

(4238, 16)